.App {
 
}
.container{
  

}
a{
  text-decoration: none;
  color: black;
}


/* LOGIN & REGISTER */

/* LOGIN AREA */
.auth{
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 100vh;
  background-color: rgb(187, 221, 210);
}
.auth>h1{
  font-size: 25px;
  color: teal;
  margin-bottom:20px;

}
.auth>form{
  display: flex;
  flex-direction: column;
  padding: 50px;
  background-color: white;
  width: 200px;
  gap: 10px;
}
.auth>form>input{
  padding: 10px;
  border: none;
  border-bottom: 1px solid lightslategray;
  text-align: center;
}
.auth>form>button{
  color: white;
  padding: 10px;
  border: none;
  background-color: teal;
  cursor: pointer;
}
.auth>form>p{
  font-size: 14px;
  color: red;
  text-align: center;
}
.auth>form>span{
  font-size: 14px;
  text-align: center;

}

/* NAVBAR */
.navbar{

}
.navbar>.container{
padding: 10px 0px;
display: flex;
justify-content: space-between;
background-color: transparent;
}

.logo>img{
  width: 120px;

}
.links{
  display: flex;
  gap: 10px;
  align-items: center;
  
}
.links>h6{
  font-size: 16px;
  font-weight: 300;
}
.links>span{
  cursor: pointer;
}
.write{
  background-color: rgb(161, 199, 146);
  width: 50px;
  height: 50px;
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  font-weight: 300;
  border: 1px solid white;
}
.write:hover{
color:rgb(161, 199, 146);
background-color: whitesmoke;
border: 1px solid rgb(161, 199, 146);
}

/* Footer */
