.App {
 
}
.container{
  

}
a{
  text-decoration: none;
  color: black;
}


/* LOGIN & REGISTER */

/* LOGIN AREA */
.auth{
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 100vh;
  background-color: rgb(187, 221, 210);
}
.auth>h1{
  font-size: 25px;
  color: teal;
  margin-bottom:20px;

}
.auth>form{
  display: flex;
  flex-direction: column;
  padding: 50px;
  background-color: white;
  width: 200px;
  gap: 10px;
}
.auth>form>input{
  padding: 10px;
  border: none;
  border-bottom: 1px solid lightslategray;
  text-align: center;
}
.auth>form>button{
  color: white;
  padding: 10px;
  border: none;
  background-color: teal;
  cursor: pointer;
}
.auth>form>p{
  font-size: 14px;
  color: red;
  text-align: center;
}
.auth>form>span{
  font-size: 14px;
  text-align: center;

}

/* NAVBAR */
.navbar{

}
.navbar>.container{
padding: 10px 0px;
display: flex;
justify-content: space-between;
background-color: transparent;
}

.logo>img{
  width: 120px;

}
.links{
  display: flex;
  gap: 10px;
  align-items: center;
  
}
.links>h6{
  font-size: 16px;
  font-weight: 300;
}
.links>span{
  cursor: pointer;
}
.write{
  background-color: rgb(161, 199, 146);
  width: 50px;
  height: 50px;
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  font-weight: 300;
  border: 1px solid white;
}
.write:hover{
color:rgb(161, 199, 146);
background-color: whitesmoke;
border: 1px solid rgb(161, 199, 146);
}

/* Footer */
.footer{
margin-top: 100px;
padding: 20px;
background-color: rgb(161, 199, 146);
display: flex;
align-items: center;
justify-content: space-between;
font-size: 12px;


}
.footer>img{
  height: 50px;
}


/* Home */
.home{

}
.posts{
  margin-top: 50px;
  display: flex;
  flex-direction: column;
  gap: 150px;
}
.post{
  display: flex;
  gap: 100px;
  &:nth-child(2n+1){
    flex-direction: row-reverse;
  }

}
.img{
  flex: 1;
  position: relative;
  &::after{
    content:"";
    width: 100%;
    height: 100%;
    background-color: rgb(161, 199, 146);
    position: absolute;
    top:20px;
    left: 20px;
    z-index: -2;
  }

}
.img>img{
  width: 100%;
  max-height: 400px;
  object-fit: cover;
}
.content{
  flex: 3;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}
.content-h1{
  font-size:48px;

}
.content-p{
  font-size: 16px;
}
.content-button{
  width: max-content;
  padding: 10px 20px;
  border: none;
  background-color: white;
  cursor: pointer;
  padding: 10px 20px;
  border: 1px solid teal;
color: teal;
&:hover{
  border:1px solid white;
  background-color: rgb(167, 233, 213);
  color: black;
}
}


/* SINGLE PAGE */
.single{
  display: flex;
  gap: 50px;
}
.content1{
flex:5;

}
.content1>img{
  width: 100%;
  height: 300px;
  object-fit: cover;
}
.menu{
flex: 2;
}
.user{
  display:flex;
  align-items:center;
  gap:10px;
  font-size: 14px;
}
.user>img{
  width: 50px;
  height: 50px;
  border-radius: 50%;
  object-fit: cover;
}
.info{

}
.info>span{
  font-weight: bold;
}
.edit{
  display: flex;
  gap: 5px;

}
.edtdel{
  width: 30px;
  height: 30px; 
  border-radius: 50%;
  cursor: pointer;
}
.content>h1{
  font-size: 42px;
  color:#333;
}

.content>p{
  text-align: justify;
  line-height: 30px;
}

.menu{
flex: 2;
display: flex;
flex-direction: column;
gap: 35px;
}
.menu>h1{
  font-size: 20px;
  color:#555;
}
.post1{
  display: flex;
  flex-direction: column;
  gap: 10px;
}
.post1>img{
  width: 100%;
  height: 200px;
  object-fit: cover;
 

}

.post1>h2{
  color: #555;
}

.post1>button{
    width: max-content;
    padding: 7.5px 15px;
    border: none;
    background-color: white;
    cursor: pointer;
    padding: 10px 20px;
    border: 1px solid teal;
  color: teal;
  &:hover{
    border:1px solid white;
    background-color: rgb(167, 233, 213);
    color: black;
  }
  }



  /* WRITE PAGE DESKTOP*/
  .add{
    margin-top: 20px;
    display: flex;
    gap: 20px;

  }
  .content2{
    flex: 5;
    display: flex;
    flex-direction: column;
    gap: 20px;
  }
  .content2>input{
    padding: 10px;
    border: 1px solid lightgrey;
  }
  .editorContainer{
    height: 300px;
    
    
  }
  .editor{
    height: 100%;
    border:none;

  }
  .menu2{
    flex: 2;
    display: flex;
    flex-direction: column;
    gap: 20px;
  }
  .item{
    border: 1px solid lightgrey;
    padding: 10px;
    flex: 1;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    font-size: 12px;
    color: #555;

  }
  .item>h1{
    font-size: 20px;
  }
  .item>input{
    cursor: pointer;
  }
  .file{
    text-decoration: underline;
    cursor: pointer;
  }
  .buttons{
    display: flex;
    justify-content: space-between;
  }
  .savebutton{
    cursor: pointer;
    color: teal;
    background-color: white;
    border: 1px solid teal;
    padding: 3px 5px;
  }
  .updatebutton{
    cursor: pointer;
    background-color: teal;
    color: white;
    border: 1px solid teal;
    padding: 3px 5px;
  }
  .cat{
    display: flex;
    align-items: center;
    gap: 2px;
    color: teal;
  }